{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|linebreaks }}
    <div class="ui divider"></div>
    <div class="ui grid">
        <div class="row">
            <div class="three wide middle aligned column">
                <a class="ui icon tiny olive button" href="{% url "blog:post_share" post.id %}">
                    <i class="share icon"></i>
                    Share this post
                </a>
            </div>
            <div class="three wide middle aligned column">
                <!-- blog comments counter begins -->
                {% with comments.count as total_comments  %}
                    <h3 class="ui small header"><i class="comments icon"></i> {{ total_comments }} comment {{ total_comments|pluralize }}</h3>
                {% endwith %}
            </div>
        </div>
        <!-- similar blog post begins -->
        <div class="row">
            <div class="eleven wide middle aligned column">
                <h4 class="ui small dividing header">
                    <i class="plug icon"></i>
                    <div class="content">
                        Similar Posts
                    </div>
                </h4>
                {% for post in similar_posts %}
                    <a href="{{ post.get_absolute_url }}"><h5>{{ post.title }}</h5></a>
                    <p>
                        {{ post.body|truncatewords:10 }}
                    </p>
                {% empty %}
                    <p><i>There are no similar posts yet</i></p>
                {% endfor %}
            </div>
        </div>
        <!-- similar blog post ends -->
    </div>

    <!-- blog comments begins -->
    <div class="ui comments">
        <h4 class="ui small dividing teal header">
            <i class="comments icon"></i>
            <div class="content">
                Posts Comments
            </div>
        </h4>
        {% for comment in comments %}
            <!-- display comments  -->
            <div class="comment">
                <div class="content">
                    <h5 class="author">Comment {{ forloop.counter }} by: {{ comment.name }}</h5>
                    <div class="metadata">
                        <div class="date">{{ comment.created }}</div>
                    </div>
                    <div class="text">
                        <p>{{ comment.body | linebreaks }}</p>
                    </div>
                </div>
            </div>
            <!-- end display comments -->
        {% empty %}
            <p><i>There are no comments yet.</i></p>
        {% endfor %}
        {% if new_comment %}
            <h3 class="ui small green header">Your comment has been added.</h3>
        {% else %}
            <!-- display comment form  -->
            <h3 class="ui sub dividing teal header">Add a new comment</h3>
            <form class="ui reply form" action="." method="post">
                {% csrf_token %}
                <div class="eight wide field">
                    {{ comment_form.as_p }}
                </div>
                <button type="submit" value="Add comment" class="ui primary submit labeled flu icon button"><i class="icon edit"></i> Add Comment</button>
            </form>
        {% endif %}
        <div class="ui hidden divider"></div>
    </div>


{% endblock %}