{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|linebreaks }}
    <div class="ui divider"></div>
    <p>
        <a class="ui mini teal button" href="{% url "blog:post_share" post.id %}">
            Share this post
        </a>
        <span class="ui hidden divider"></span>
        <!-- blog comments counter begins -->
        {% with comments.count as total_comments  %}
            <h3>{{ total_comments }} comment {{ total_comments|pluralize }}</h3>
        {% endwith %}
    </p>
    <!-- blog comments begins -->
    <div class="ui comments">
        {% for comment in comments %}
            <!-- display comments  -->
            <div class="comment">
                <div class="content">
                    <h5 class="author">Comment {{ forloop.counter }} by: {{ comment.name }}</h5>
                    <div class="metadata">
                        <div class="date">{{ comment.created }}</div>
                    </div>
                    <div class="text">
                        <p>{{ comment.body | linebreaks }}</p>
                    </div>
                </div>
            </div>
            <!-- end display comments -->
        {% empty %}
            <p><i>There are no comments yet.</i></p>
        {% endfor %}
        {% if new_comment %}
            <h3 class="ui small green header">Your comment has been added.</h3>
        {% else %}
            <!-- display comments  -->
            <h3 class="ui sub header">Add a new comment</h3>
            <form class="ui reply form" action="." method="post">
                {% csrf_token %}
                <div class="eight wide field">
                    {{ comment_form.as_p }}
                </div>
                <button type="submit" value="Add comment" class="ui primary submit labeled flu icon button"><i class="icon edit"></i> Add Comment</button>
            </form>
        {% endif %}
        <div class="ui hidden divider"></div>
    </div>


{% endblock %}